/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/* any form */
label, input {
  display: block;
}
input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}
div.error {
  padding: 10px;
  background: #ffefef;

  border-radius: 4px;
  margin: 20px 0;
}
div.valide {
  padding: 10px;
  background: #e2fbe4;
  border-radius: 4px;
  margin: 20px 0;
}


/* auth forms */
form.signup, form.login {
  max-width: 400px;
  margin: 20vh auto;
  padding: 20px;
  background: #FBFBFB;
  border-radius: 4px;
}